{{ define "header" }}
<html>
    <head>
        <meta charset="utf-8">

        <title>LinkLetter</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Should we self host this? -->
        <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/custom.css">

    </head>
    <body>
{{ end }}



{{ define "footer" }}
    </body>
</html>
{{ end }}
